@charset "utf-8";

@font-face {
	font-family: 'NotoSansCJKkr Regular';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/NotoSansCJKkr-Regular.eot');
	src: url('../fonts/NotoSansCJKkr-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/NotoSansCJKkr-Regular.woff2') format('woff2'),
		 url('../fonts/NotoSansCJKkr-Regular.woff') format('woff');
}


@font-face {
	font-family: 'NotoKr';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/notokr/NotoSansCJKkr-Bold.eot');
	src: url('../fonts/NotoSansCJKkr-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/NotoSansCJKkr-Bold.woff2') format('woff2'),
		 url('../fonts/NotoSansCJKkr-Bold.woff') format('woff');
}