 @charset "utf-8";

/*reset*/
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {margin:0; padding:0;}
ul{list-style:none;}
img, fieldset{border:none; vertical-align:middle;}
body { margin:0;  padding:0; font-family: "Noto Sans KR3_1"; color:#333;}
a {color:#000;text-decoration:none;}         
a:link,a:visited {color:#000; text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}
em{font-style:normal;}
caption, legend, .labelx{left:-9999px; font-size:0; position:absolute; display:none;}
table{border-collapse:collapse;}

::-moz-selection { color:#fff; background:#bb2025; }
::selection { color:#fff; background:#bb2025; }


#wrap{overflow:hidden; position:relative;}
/*top버튼*/
.top_btn{width:1180px; margin:0 auto; text-align:right; padding:51px 0 31px;}
.top_btn a{display:inline-block; color:#333; font-size:14px; background:url(../images/main/top_arrow.png) no-repeat center 11px #fff; padding-top:18px; width:50px; height:28px; text-align:center; border:1px solid #686875; line-height:30px;}
.top_btn a:hover{color:#fff; background:url(../images/main/top_arrow2.png) no-repeat center 11px #bb2025;}

/*검색*/
.ser_input {display:none; z-index:999; position:absolute; top:83px; left:0; width:100%; height:82px; background:rgba(255,255,255,0.9);}
.ser_input.on{display:block;}
.ser_input .ser_box{width:1180px; margin:0 auto; position:relative;}
.ser_input .ser_box label{left: -9999px; font-size: 0; position: absolute; display: none;}
.ser_input .ser_box .top_sertxt{width:90%; background:none; border:none; height:80px; font-size:20px; color:#999999; padding-left:29px;}
.ser_input .ser_box .top_serbtn{position:absolute; top:31px; right:25px; width:24px; height:23px; cursor:pointer; border:none; text-indent:-9999px; background:url(../images/main/ser_btn2.png) no-repeat 0 0;}

/*메뉴*/
.top_menu{display:none; z-index:999; position:absolute; top:83px; left:0; width:100%; height:287px; background:#fdfdfd; border-bottom:1px solid #bb2025;}
.top_menu .menu_box{width:1180px; margin:0 auto; padding-top:20px; }
.top_menu .menu_box ul{overflow:hidden;}
.top_menu .menu_box ul > li{float:left; margin-left:71px;}
.top_menu .menu_box ul > li.first{margin-left:190px;}
.top_menu .menu_box ul li.menu_01{}
.top_menu .menu_box ul li.menu_02{margin-left:68px;}
.top_menu .menu_box ul li.menu_03{margin-left:67px;}
.top_menu .menu_box ul li.menu_04{margin-left:105px;}
.top_menu .menu_box ul li.menu_05{margin-left:34px;}
.top_menu .menu_box ul li.menu_06{margin-left:70px;}
.top_menu .menu_box ul li ul{}
.top_menu .menu_box ul li ul li{float:none; margin-left:0; line-height:20px; margin-top:7px;}
.top_menu .menu_box ul li ul li a{color:#666666; font-size:15px;}
.top_menu .menu_box ul li ul li a:hover{color:#bb2025;}

@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 400;
    src: local('Godo'),
        url('../font/godo/GodoM.woff2') format('woff2'), 
        url('../font/godo/GodoM.woff') format('woff'),
        url('../font/godo/GodoM.ttf') format('truetype'),
        url('../font/godo/GodoM.otf') format('opentype'),
        url('../font/godo/GodoM.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 700;
    src: local('Godo'),
        url('../font/godo/GodoB.woff2') format('woff2'), 
        url('../font/godo/GodoB.woff') format('woff'),
        url('../font/godo/GodoB.ttf') format('truetype'),
        url('../font/godo/GodoB.otf') format('opentype'),
        url('../font/godo/GodoB.eot') format('embedded-opentype');
}


.contents .business .bus_roll.bus_roll_center { width:auto; margin-left:0px; position:absolute; z-index:999; top:0px; left:250px;     -webkit-box-shadow: 1px 1px 35px 3px rgba(0,0,0,0.23);
    -moz-box-shadow: 1px 1px 35px 3px rgba(0,0,0,0.23);
    -ms-box-shadow: 1px 1px 35px 3px rgba(0,0,0,0.23);
    box-shadow: 1px 1px 35px 3px rgba(0,0,0,0.23);} 

.head .menu ul li a:before { position: absolute; top: 32px; left: 0; height: 3px; width: 100%; content: ''; background-color: #fff; -webkit-transform-origin: right top; transform-origin: right top; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transition: -webkit-transform .3s cubic-bezier(.165,.84,.44,1); transition: -webkit-transform .3s cubic-bezier(.165,.84,.44,1);
 transition: transform .3s cubic-bezier(.165,.84,.44,1); transition: transform .3s cubic-bezier(.165,.84,.44,1),-webkit-transform .3s cubic-bezier(.165,.84,.44,1); }

.head .menu ul li a:focus:before, .head .menu ul li a:hover:before { -webkit-transform-origin: left top; transform-origin: left top; -webkit-transform: scaleX(1); transform: scaleX(1); }

.head .menu ul li a {position: relative;}

.head .menu ul li:hover{border-bottom:none;}

.head .menu ul li {height:35px;}

.top_menu .menu_box ul li ul li a:hover{text-decoration:underline;}

.main_banner .visual_btn .rolling .rolling_btn .next_btn {overflow:hidden; height:38px;}

/*all메뉴*/
.all_menubg{width:100%; position:absolute; top:83px; left:0; z-index:9999; }
.all_menu{display:none; width:1180px; background:#fff; margin:0 auto; overflow:hidden;}
.all_menu.on{display:block;}
.all_menu .all_menu1{float:left; border-left:1px solid #dadada; height:716px; padding:0 22px; width:151.5px;}
.all_menu .all_menu2{border:none;}
.all_menu .all_menu1 p{padding:33px 0 19px; border-bottom:2px solid #bb2025;}
.all_menu .all_menu1 ul{}
.all_menu .all_menu1 ul li{font-size:16px; margin-top:25px; font-family:"Noto Sans KR5"; letter-spacing:-1px;}
.all_menu .all_menu1 ul li a{color:#101010; }
.all_menu .all_menu1 ul li ul{}
.all_menu .all_menu1 ul li ul li{font-size:14px; font-family:"Noto Sans KR3_1"; margin-top:5px; letter-spacing:0px;}
.all_menu .all_menu1 ul li ul li a{color:#777; background:url(../images/common/menu_dot.png) no-repeat 0 9px; padding-left:8px;}
.all_menu .all_menu1 ul li ul li a:hover{color:#bb2025; border-bottom:1px solid #bb2025; background:url(../images/common/menu_dot_on.png) no-repeat 0 9px;}
.back{position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.5); top:83px; left:0; z-index:9999; display:none;}
.back.on{display:block;}