 @charset "utf-8";
 
 @font-face {
	font-family: "NotoSansCJKkrRegular"; 
    font-style: normal;
    font-weight: 300;
	src: url("../font/NotoSansCJKkr/NotoSansCJKkrRegular.eot"); 
	src: local("?"), url("../font/NotoSansCJKkr/NotoSansCJKkr-Regular-subset.woff") format("woff"), 
	url("../font/NotoSansCJKkr/NotoSansCJKkrRegular.otf") format("opentype");
}
 
 
 @font-face{
    font-family: "NotoSansCJKkrMedium"; 
	src: url("../font/NotoSansCJKkr/NotoSansCJKkrMedium.eot"); 
	src: local("?"), url("../font/NotoSansCJKkr/NotoSansCJKkrMedium.woff") format("woff"), 
	url("../font/NotoSansCjKkr/NotoSansCJKkrMedium.otf") format("opentype");
}

@font-face{
    font-family: 'NotoSansCJKkrLight';
  
    src:url('../font/NotoSansCJKkr/NotoSansCJKkrLight.eot') format('embedded-opentype');
    src:url('../font/NotoSansCJKkr/NotoSansCJKkrLight.eot?#iefix') format('embedded-opentype');
    src:url('../font/NotoSansCJKkr/NotoSansCJKkrLight.woff') format('woff');
    src:local('?'), url('../font/NotoSansCJKkr/NotoSansCJKkrLight.woff') format('woff');
    src: local('?'), url('../font/NotoSansCJKkr/NotoSansCJKkrLight.woff') format('woff');	
}

@font-face{
    font-family: 'NotoSansCJKkrBold';
  
    src:url('../font/NotoSansCJKkr/NotoSansCJKkrBold.eot') format('embedded-opentype');
    src:url('../font/NotoSansCJKkr/NotoSansCJKkrBold.eot?#iefix') format('embedded-opentype');
    src:url('../font/NotoSansCJKkr/NotoSansCJKkrBold.woff') format('woff');
    src:local('?'), url('../font/NotoSansCJKkr/NotoSansCJKkrBold.woff') format('woff');
    src: local('?'), url('../font/NotoSansCJKkr/NotoSansCJKkrBold.woff') format('woff');	
}

@font-face {
  font-family: 'Noto Sans KR1';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
       url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
       url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR2';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
       url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
       url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR2_1';
  font-style: bold;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
       url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
       url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
 }

 @font-face {
   font-family: 'Noto Sans KR3_1';
   font-style: normal;
   font-weight: 600;
   src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
 }

@font-face {
   font-family: 'Noto Sans KR4';
   font-style: normal;
   font-weight: 500;
   src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR5';
   font-style: normal;
   font-weight: 700;
   src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR6';
   font-style: normal;
   font-weight: 900;
   src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
 }