@charset "utf-8";

@font-face {
	font-family: "Noto Sans KR3"; 
    /*
    font-style: normal;
    font-weight: 300;
	src: url("../font/NotoSansCJKkrRegular.eot"); 
	src: local("?"), url("../font/NotoSansCJKkr-Regular-subset.woff") format("woff"), 
	url("../font/NotoSansCJKkrRegular.otf") format("opentype");
    */

    font-style: normal;
   font-weight: 400;
   src: url(../font/NotoSansKR-Regular.woff2) format('woff2'),
        url(../font/NotoSansKR-Regular.woff) format('woff'),
        url(../font/NotoSansKR-Regular.otf) format('opentype');
}

/*
NotoSansCJKkr-Regular-subset
���� : NotoSansCJKkrRegular
*/

@font-face{
    font-family: "NotoSansCJKkrMedium"; 
	src: url("../font/NotoSansCJKkrMedium.eot"); 
	src: local("?"), url("../font/NotoSansCJKkrMedium.woff") format("woff"), 
	url("../font/NotoSansCJKkrMedium.otf") format("opentype");
}

@font-face{
    font-family: 'NotoSansCJKkrLight';
  
    src:url('../font/NotoSansCJKkrLight.eot') format('embedded-opentype');
    src:url('../font/NotoSansCJKkrLight.eot?#iefix') format('embedded-opentype');
    src:url('../font/NotoSansCJKkrLight.woff') format('woff');
    src:local(��), url('../font/NotoSansCJKkrLight.woff') format('woff');
    src: local('?'), url('../font/NotoSansCJKkrLight.woff') format('woff');	
}

@font-face{
    font-family: 'NotoSansCJKkrBold';
  
    src:url('../font/NotoSansCJKkrBold.eot') format('embedded-opentype');
    src:url('../font/NotoSansCJKkrBold.eot?#iefix') format('embedded-opentype');
    src:url('../font/NotoSansCJKkrBold.woff') format('woff');
    src:local(��), url('../font/NotoSansCJKkrBold.woff') format('woff');
    src: local('?'), url('../font/NotoSansCJKkrBold.woff') format('woff');	
}

/*
@font-face {
  font-family: 'Noto Sans KR1';
  font-style: normal;
  font-weight: 100;
  src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
       url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
       url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR2';
  font-style: normal;
  font-weight: 300;
  src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
       url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
       url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
   font-family: 'Noto Sans KR3';
   font-style: normal;
   font-weight: 400;
   src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
        url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
        url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
 }


 @font-face {
   font-family: 'Noto Sans KR3_1';
   font-style: normal;
   font-weight: 500;
   src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
        url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
        url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
 }

@font-face {
   font-family: 'Noto Sans KR4';
   font-style: normal;
   font-weight: 500;
   src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
        url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
        url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR5';
   font-style: normal;
   font-weight: 700;
   src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
        url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
        url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR6';
   font-style: normal;
   font-weight: 900;
   src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),
        url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),
        url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
 }

@font-face {
  font-family: 'NanumGothic';
      src: url('../font/NanumGothic.eot'); 
	  src: url('../font/NanumGothic.eot?#iefix') format('embedded-opentype'), 
       url('../font/NanumGothic.woff') format('woff'),
       url('../font/NanumGothic.ttf')  format('truetype'),


@font-face {
  font-family: 'NanumGothicBold';
    src: url('../font/NanumGothicBold.eot'); 
	src: url('../font/NanumGothicBold.eot?#iefix') format('embedded-opentype'), 
         url('../font/NanumGothicBold.woff') format('woff'),
         url('../font/NanumGothicBold.ttf')  format('truetype')
}

         */


