 @charset "utf-8";

 @media screen and (min-width: 641px) and (max-width: 1200px){


/*헤더*/
#header{height:44px;}
.head{overflow:hidden; width:94%;}
.head h1{margin-top:14px;}
.head h1 img{width:92px;}
.head .menu{display:none;}
.head .mob_menu{display:block; float:right; margin-top:13px;}
.head .mob_menu img{width:20px;}

/*메인*/
.main_cont{}
.main_cont ul{  position:relative;}
.main_cont ul li{height:600px;}
.main_cont ul li.cont01{}
.main_cont ul li .main_txt{width:230px; height:130px;}
.main_cont ul li .main_txt p{font-size:16px; line-height:25px; margin-top:40px;}
.main_cont ul li .main_txt p span{font-size:19px;}
.main_cont ul li .arrow{display:none;}


/*푸터*/
#footer{height:auto;}
.foot{width:94%; margin:25px auto 20px;}
.foot .f_logo{}
.foot .f_logo img{width:92px;}
.foot .add{width:80%;  margin-left:2%;}
.foot .address{float:left;}
.foot .address p{font-size:13px;}
.foot .address p span{color:#666;}
.foot .sns{width:100%; margin:10px 0 0 0;}
.foot .sns a{ margin:0 5px 0 0;}
.foot .sns a img{width:30px;}
	

/*마을산책*/
.contents{}
.contents .sub_title{height:350px;}
.contents .sub_title dl{margin-top:150px;}
.contents .sub_title dl dt{font-size:35px;}
.contents .sub_title dl dd{font-size:17px; margin-top:15px;}
.contents .sub_cont{width:94%;}
.contents .sub_cont .walk_tab{margin:40px 0 30px;}
.contents .sub_cont .walk_tab ul li{width:33.3%; font-size:16px;}
.contents .sub_cont .download{display:none;}
.contents .sub_cont .map .map_info{padding: 2% 5% 22px 11%; background-size: 46px; background-position: 3% center;}
.contents .sub_cont .map .map_info p{font-size:15px;}
.contents .sub_cont .map .map_img img{width:100%;}
.contents .sub_cont .map.intro_map .map_img .web_img{display:none;}
.contents .sub_cont .map .map_img .tab_img{display:block;}

.contents .sub_cont .map .map_img .map_list ul.web_list { border-top:1px solid #222;}
.contents .sub_cont .map .map_img .map_list ul.web_list li{border-bottom:1px solid #ddd; float:none; font-weight:normal; margin:0;}
.contents .sub_cont .map .map_img .map_list ul.web_list li a{font-size:14px; width:100%; text-align: left; border-radius:0px; height:auto; letter-spacing:0; font-family:'Noto Sans Korean', sans-serif; color:#333; padding:10px 2%; display:block; background:url(../images/sub/village_walk/map_m_btn.png) no-repeat right center / 5px; border:none; line-height:22px;}
.contents .sub_cont .map .map_img .map_list ul.web_list li a span{font-weight:normal; padding-left:0; background:none;}
.contents .sub_cont .map .map_img .map_list ul.web_list li a strong{display:inline-block; background:#333; display:inline-block; width:22px; height:22px; color:#fff; border-radius:30px; text-align:center; margin-right:1%;}
.contents .sub_cont .map .map_img .map_list ul.web_list li.on a{background:none; border:none; color:#1d70cf; }
.contents .sub_cont .map .map_img .map_list ul.web_list li.on a span{border-bottom:1px solid #1d70cf;}
.contents .sub_cont .map .map_img .map_list ul.web_list li.on strong{background:#1d70cf;}
.contents .sub_cont .map .map_img .map_list ul.web_list li.green.on a{background:none; border:none; color:#2dc494; }
.contents .sub_cont .map .map_img .map_list ul.web_list li.green.on a span{border-bottom:1px solid #2dc494;}
.contents .sub_cont .map .map_img .map_list ul.web_list li.green.on strong{background:#2dc494;}

/*마을산책 view*/
.contents .sub_cont .map .map_img .map_movimg{width:100%; height:auto;}
.contents .sub_cont .map .map_view{width:100%; padding:30px 0 30px; height:100%;}
.contents .sub_cont .map .map_view .view_cont{width:94%;}
.contents .sub_cont .map .map_view h2{font-size:25px;}
.contents .sub_cont .map .map_view h2 span{font-size:14px; width:24px; height:24px; line-height:24px; margin-top:1px;}
.contents .sub_cont .map .map_view .close a img{width:30px;}
.contents .sub_cont .map .map_view .txt{font-size:15px;}
.contents .sub_cont .map .map_view .view_img{margin-top:25px;}
.contents .sub_cont .map .map_view .view_img ul li img{width:100%;}
.contents .sub_cont .map .map_view .voice_file{margin:5% 0;}
.contents .sub_cont .map .map_view .voice_file img{width:100%;}
.contents .sub_cont .map .map_view .voice p{font-size:15px;}


/*마을산책 추천 코스*/
.contents .sub_cont .rec_cou .cou_list ul li{font-size:14px; margin-right:10px; padding-right:10px;}
.contents .sub_cont .map .cou_map_img .map_list h3{font-size:18px;}
.contents .sub_cont .map .cou_map_img .map_list h3 span{font-size:14px;}
.contents .sub_cont .map .cou_map_img .map_list ul.web_list2 li.t_bg{}
.contents .sub_cont .map .cou_map_img .mob_img{display:none;}

.contents .sub_cont .map .cou_map_img .map_list ul.web_list2 { border-top:1px solid #222;}
.contents .sub_cont .map .cou_map_img .map_list ul.web_list2 li{border-bottom:1px solid #ddd; float:none; font-weight:normal; margin:0;}
.contents .sub_cont .map .cou_map_img .map_list ul.web_list2 li a{font-size:14px; width:100%; text-align: left; border-radius:0px; height:auto; letter-spacing:0; font-family:'Noto Sans Korean', sans-serif; color:#333; padding:10px 2%; display:block; background:url(../images/sub/village_walk/map_m_btn.png) no-repeat right center / 5px; border:none; line-height:22px;}
.contents .sub_cont .map .cou_map_img .map_list ul.web_list2 li a span{font-weight:normal; padding-left:0; background:none;}
.contents .sub_cont .map .cou_map_img .map_list ul.web_list2 li a span strong{display:inline;}
.contents .sub_cont .map .cou_map_img .map_list ul.web_list2 li a em{display:inline-block; background:#333; display:inline-block; width:22px; height:22px; color:#fff; border-radius:30px; text-align:center; margin-right:1%;}
.contents .sub_cont .map .cou_map_img .map_list ul.web_list2 li:hover a{background:none; border:none; color:#1d70cf; }
.contents .sub_cont .map .cou_map_img .map_list ul.web_list2 li:hover a span{border-bottom:1px solid #1d70cf;}
.contents .sub_cont .map .cou_map_img .map_list ul.web_list2 li:hover em{background:#1d70cf;}
.contents .sub_cont .map .cou_map_img .map_list ul.web_list2 li.last_box{float:none; margin:0;}
.contents .sub_cont .map .cou_map_img .map_list ul.web_list2 li.green.on a{background:none; border:none; color:#2dc494; }
.contents .sub_cont .map .cou_map_img .map_list ul.web_list2 li.green.on a span{border-bottom:1px solid #2dc494;}
.contents .sub_cont .map .cou_map_img .map_list ul.web_list2 li.green.on a em{background:#2dc494;}
.contents .sub_cont .map .cou_map_img .map_list ul.web_list2 li.green.on strong{}

/*마을산책 추천 코스 - 소소한 청춘길*/
.contents .sub_cont .map .cou4_map_img .map_list h3{font-size:18px;}
.contents .sub_cont .map .cou4_map_img .map_list h3 span{font-size:14px;}
.contents .sub_cont .map .cou4_map_img .map_list ul.web_list2 { border-top:1px solid #222;}
.contents .sub_cont .map .cou4_map_img .map_list ul.web_list2 li{border-bottom:1px solid #ddd; float:none; font-weight:normal; margin:0;}
.contents .sub_cont .map .cou4_map_img .map_list ul.web_list2 li a{font-size:14px; width:100%; text-align: left; border-radius:0px; height:auto; letter-spacing:0; font-family:'Noto Sans Korean', sans-serif; color:#333; padding:10px 2%; display:block; background:url(../images/sub/village_walk/map_m_btn.png) no-repeat right center / 5px; border:none; line-height:22px;}
.contents .sub_cont .map .cou4_map_img .map_list ul.web_list2 li a span{font-weight:normal; padding-left:0; background:none;}
.contents .sub_cont .map .cou4_map_img .map_list ul.web_list2 li a span strong{display:inline;}
.contents .sub_cont .map .cou4_map_img .map_list ul.web_list2 li a em{display:inline-block; background:#333; display:inline-block; width:22px; height:22px; color:#fff; border-radius:30px; text-align:center; margin-right:1%;}
.contents .sub_cont .map .cou4_map_img .map_list ul.web_list2 li:hover a{background:none; border:none; color:#1d70cf; }
.contents .sub_cont .map .cou4_map_img .map_list ul.web_list2 li:hover a span{border-bottom:1px solid #1d70cf;}
.contents .sub_cont .map .cou4_map_img .map_list ul.web_list2 li:hover em{background:#1d70cf;}
.contents .sub_cont .map .cou4_map_img .map_list ul.web_list2 li.last_box{float:none; margin:0;}

/*마을산책 - 투어신청*/
.contents .sub_cont .tour_app{margin-bottom:100px;}
.contents .sub_cont .tour_app .tour_tit{font-size:18px; line-height:26px;}
.contents .sub_cont .tour_app .tour_info{padding:2% 5% 22px 11%; margin:20px 0 20px; background-size:46px; background-position:3% center;}
.contents .sub_cont .tour_app .tour_info ul{padding-left:5%;}
.contents .sub_cont .tour_app .tour_info ul li{font-size:14px; line-height:25px;}
.contents .sub_cont .tour_app .tour_info ul li span{display:block; padding-left:53px;}
.contents .sub_cont .tour_apl .tour_list{padding:25px 0 25px;}
.contents .sub_cont .tour_apl .tour_list .t_img{width:100%;}
.contents .sub_cont .tour_apl .tour_list .t_img img{width:100%;}
.contents .sub_cont .tour_apl .tour_list .t_img .web{display:none;}
.contents .sub_cont .tour_apl .tour_list .t_img .tabl{display:block;}
.contents .sub_cont .tour_apl .tour_list .t_img .mobl{display:none;}
.contents .sub_cont .tour_apl .tour_list .tour_cont{margin-left:0; width:100%;}
.contents .sub_cont .tour_apl .tour_list .tour_cont dl dt{font-size:18px; margin:25px 0 5px;}
.contents .sub_cont .tour_apl .tour_list .tour_cont dl dd{font-size:14px;}
.contents .sub_cont .tour_apl .tour_list .tour_cont dl dd span{display:inline;}
.contents .sub_cont .tour_apl .tour_list .tour_cont .prog{margin:15px 0 20px;}
.contents .sub_cont .tour_apl .tour_list .tour_cont .prog li {}
.contents .sub_cont .tour_apl .tour_list .tour_cont .prog li:last-child {background:none; padding:0; margin:0;}
.contents .sub_cont .tour_apl .tour_list .tour_cont .prog li span{font-size:13px; height:30px; line-height:30px;}
.contents .sub_cont .tour_apl .tour_list .tour_cont .tour_i ul li{font-size:14px;}
.contents .sub_cont .tour_apl .tour_list .tour_cont .tour_i .tour_btn{margin-top:40px;}
.contents .sub_cont .tour_apl .tour_list .tour_cont .tour_i .tour_btn a{width:130px; font-size:16px; height:40px; line-height:40px;}
.contents .sub_cont .tour_app .tour_point{font-size:14px;}
 

 /*마을산책 - 신청폼*/
.contents .sub_cont .tour_app .per_data{}
.contents .sub_cont .tour_app .per_data .per_d_box {padding:24px 20px;}
.contents .sub_cont .tour_app .per_data .per_d_box dl{margin-bottom:15px;}
.contents .sub_cont .tour_app .per_data .per_d_box dl dt{font-size:14px;}
.contents .sub_cont .tour_app .per_data .per_d_box dl dd{font-size:14px;line-height:20px;}
.contents .sub_cont .tour_app .per_data p{font-size:14px;} 
.contents .sub_cont .tour_app .per_ipt h3{font-size:18px;}
.contents .sub_cont .tour_app .per_ipt .point_tour{font-size:14px;}
.contents .sub_cont .tour_app .per_ipt table{ width:100%;}
.contents .sub_cont .tour_app .per_ipt table tr{}
.contents .sub_cont .tour_app .per_ipt table tr td.title{font-size:15px; width:20%; padding-left:2%;}
.contents .sub_cont .tour_app .per_ipt table tr td{padding-left:2%;}
.contents .sub_cont .tour_app .per_ipt table tr td .per_c{vertical-align:middle;}
.contents .sub_cont .tour_app .per_ipt table tr td .check{font-size:14px;}
.contents .sub_cont .tour_app .per_ipt table tr td .group{font-size:14px;}
.contents .sub_cont .tour_app .per_ipt table tr td.texta{padding:10px 0 10px 2%;}
.contents .sub_cont .tour_app .per_ipt table tr td.app_grop .app_box{float:none; width:100%;}
.contents .sub_cont .tour_app .per_ipt table tr td.app_grop .app_box table{border-top:none; margin:0;}
.contents .sub_cont .tour_app .per_ipt table tr td .texta{width:100%;}
.contents .sub_cont .tour_app .per_ipt .tour_app_btn a{font-size:14px;}
.contents .sub_cont .tour_app .per_ipt table tr td .calendar{background-position:90% center;}
 
.board_ser04 span{font-size:14px;}



/*마을이웃 - 체험거리*/
.contents .sub_cont .nb_cont .nb_tab{margin:40px 0 30px;}
.contents .sub_cont .nb_cont .nb_tab ul li{font-size:16px; width:25%;}
.contents .sub_cont .nb_cont .exp_list{margin-top:20px;}
.contents .sub_cont .nb_cont .exp_list ul li{width:48.5%; margin:3% 0 0 3%; height:auto;}
.contents .sub_cont .nb_cont .exp_list ul li.marx{margin:3% 0 0 0;}
.contents .sub_cont .nb_cont .exp_list ul li.marx2{margin:3% 0 0 0;}
.contents .sub_cont .nb_cont .exp_list ul li.marx3{margin:3% 0 0 3%;}
.contents .sub_cont .nb_cont .exp_list ul li .exp_img img{}
.contents .sub_cont .nb_cont .exp_list ul li .exp_txt{padding:8% 5%; background-position:90% 72px; background-size:28px;}
.contents .sub_cont .nb_cont .exp_list ul li .exp_txt dl dt{font-size:16px;}
.contents .sub_cont .nb_cont .exp_list ul li .exp_txt dl dd{font-size:15px;}
.contents .sub_cont .nb_cont .exp_list ul li .exp_txt span{font-size:13px;}
.contents .sub_cont .nb_cont .exp_list ul li .exp_txt .arow_2{bottom:24px;}
.contents .sub_cont .nb_cont .exp_list ul li .exp_txt .arow_2 img{width:30px;}
.contents .sub_cont .nb_cont .exp_list ul li:hover .exp_txt{background-position:90% 72px; background-size:28px;}
.contents .sub_cont .nb_cont .exp_list .cont_more{margin-top:30px;}
.contents .sub_cont .nb_cont .exp_list .cont_more a{font-size:14px; width:99.5%; height:53px; line-height:53px; }
.contents .sub_cont .nb_cont .exp_list .cont_more a span{background-size:30px;}


.board_ser08 span{font-size:14px;}


/*마을이웃 - 마을체험 뷰*/
.contents .sub_cont .nb_view .view_info h2{font-size:23px; margin:35px 0 50px;}
.contents .sub_cont .nb_view .view_info dl dt{font-size:26px;}
.contents .sub_cont .nb_view .view_info dl dd{font-size:19px; margin-top:10px;}
.contents .sub_cont .nb_view .view_info p{font-size:14px; line-height:24px; margin:25px 0;}
.contents .sub_cont .nb_view .view_info .info ul.info_2{margin-left:15%;}
.contents .sub_cont .nb_view .view_info .info ul{width:42%;}
.contents .sub_cont .nb_view .view_info .info ul li{width:100%; font-size:14px;}
.contents .sub_cont .nb_view .view_info .view_img{position:relative; margin-top:48px;}
.contents .sub_cont .nb_view .view_info .view_img ul.rolling_img li img{width:100%;}
.contents .sub_cont .nb_view .view_info .view_img ul.rolling_img li img.web_view{display:none;}
.contents .sub_cont .nb_view .view_info .view_img ul.rolling_img li img.tab_view{display:block}
.contents .sub_cont .nb_view .view_info .view_img ul.rolling_img li img.mob_view{display:none;}
.contents .sub_cont .nb_view .view_info .view_img .view_btn a img{width:12px;}
.contents .sub_cont .nb_view .view_info .view_img .view_btn a.prev{left:30px;}
.contents .sub_cont .nb_view .view_info .view_img .view_btn a.next{right:30px;}
.contents .sub_cont .nb_view .view_info .view_img .view_list a{margin-left:3px;}
.contents .sub_cont .nb_view .view_info .view_img .view_list a img{width:9px;}
.contents .sub_cont .nb_view .view_map{margin-top:40px;}
.contents .sub_cont .nb_view .view_map h2{font-size:26px; margin-bottom:20px;}
.contents .sub_cont .nb_view .view_map img{width:100%;}
/*.contents .sub_cont .nb_view .view_map .web_map{display:none;}
.contents .sub_cont .nb_view .view_map .tab_map{display:block;}
.contents .sub_cont .nb_view .view_map .mob_map{display:none;}*/
.contents .sub_cont .nb_view .view_map .list_btn{margin-top:30px;}
.contents .sub_cont .nb_view .view_map .list_btn a{width:135px; height:41px; font-size:17px; line-height:41px;}
.contents .sub_cont .nb_view .view_map .map_img_1022 .map_ex2 img{width:35px;}
.view_img .bx-wrapper{box-shadow:none; margin-bottom:0;}
 
/*마을소식 - 마을문화*/
.contents .sub_cont .ns_cont .ns_tab ul li{width:50%;}
.contents .sub_cont .ns_cont .exp_ser .not_tab{margin-top:10px;}
.contents .sub_cont .ns_cont .exp_ser .not_tab ul li a{font-size:14px;}
.contents .sub_cont .ns_cont .notice{margin-top:15px;}
.contents .sub_cont .ns_cont .notice ul li{width:48%; height:321px; margin:3% 0 0 3%;}
.contents .sub_cont .ns_cont .notice ul li .notice_box{padding:30px 10% 30px 10%; background-position:88% 235px; background-size:28px;}
.contents .sub_cont .ns_cont .notice ul li.marx{margin:3% 0 0 0;}
.contents .sub_cont .ns_cont .notice ul li.marx2{margin:3% 0 0 0;}
.contents .sub_cont .ns_cont .notice ul li.marx3{margin:3% 0 0 3%;}
.contents .sub_cont .ns_cont .notice ul li.none{display:none;}
.contents .sub_cont .ns_cont .notice ul li .notice_box dl dt{height:50px; font-size:16px; }
.contents .sub_cont .ns_cont .notice ul li .notice_box dl dd{margin:30px 0 40px;  height:100px; font-size:13px;}
.contents .sub_cont .ns_cont .notice ul li .notice_box span.data{font-size:13px;}
.contents .sub_cont .ns_cont .notice ul li .notice_box .arow{bottom:51px;}
.contents .sub_cont .ns_cont .notice ul li .notice_box .arow img{width:30px;}
.contents .sub_cont .ns_cont .notice ul li:hover .notice_box{background-position:88% 235px; background-size:28px;}
.page{text-align:center; margin-top:50px;}
.page a{margin-left:6px; font-size:13px; width:20px;}
 
/*마을소식 - 공지사항 뷰*/
.contents .sub_cont .ns_cont .ns_view h3{padding:0 13px; font-size:16px; line-height:65px; height:65px;}
.contents .sub_cont .ns_cont .ns_view h3 span{font-size:14px; padding-left:30px;}
.contents .sub_cont .ns_cont .ns_view .file{padding:0 13px; height:46px; line-height:46px; font-size:14px;}
.contents .sub_cont .ns_cont .ns_view .file span{padding-left:15px; background-size:10px; background-position:0 6px;}
.contents .sub_cont .ns_cont .ns_view .view_img{padding:0 13px; margin:35px 0 40px;}
.contents .sub_cont .ns_cont .ns_view .view_img img{width:100% !important; height:auto !important;}
.contents .sub_cont .ns_cont .ns_view .view_img p{font-size:14px;line-height:25px; margin-top:40px;}
.contents .sub_cont .ns_cont .ns_view .next_txt p{padding:0 17px; height:46px; line-height:46px; font-size:14px; }
.contents .sub_cont .ns_cont .ns_view .next_txt p span{font-size:14px; padding-right:29px; margin-right:29px; background-position:65px center;}
.contents .sub_cont .ns_cont .ns_view .next_txt p span.t_prev{padding-right:25px;}
.contents .sub_cont .ns_cont .ns_view .view_list{margin-top:40px;}
.contents .sub_cont .ns_cont .ns_view .view_list a{width:135px; height:41px; line-height:41px; font-size:17px;}

/*마을소식 - 알림게시판*/
.contents .sub_cont .ns_cont .bor_list{border-top:2px solid #222; margin-top:35px;}
.contents .sub_cont .ns_cont .bor_list ul{}
.contents .sub_cont .ns_cont .bor_list ul li{padding:25px 0;}
.contents .sub_cont .ns_cont .bor_list ul li .bor_txt{margin:8% 0 0 0; width:58%;}
.contents .sub_cont .ns_cont .bor_list ul li .bor_txt span{font-size:14px;}
.contents .sub_cont .ns_cont .bor_list ul li .bor_txt h4{font-size:14px;}
.contents .sub_cont .ns_cont .bor_list ul li .bor_img{float:right; width:35%;}
.contents .sub_cont .ns_cont .bor_list ul li .bor_img img{width:100%;}


/*마을소식 - 인스타그램*/
.contents .sub_cont .ist_list{margin-top:6px;}
.contents .sub_cont .ist_list ul li{width:48.5%; margin:3% 0 0 3%;}
.contents .sub_cont .ist_list ul li img{width:100% !important; /*height:auto !important;*/}
.contents .sub_cont .ist_list ul li.marx{margin:3% 0 0 0;}
.contents .sub_cont .ist_list ul li.marx2{margin:3% 0 0 0;}
.contents .sub_cont .ist_list ul li.marx3{margin:3% 0 0 3%;}
.contents .sub_cont .ist_list ul li.none{display:none;}
.contents .sub_cont .ist_list ul li .ist_txt p{margin:31px 0 0 27px; font-size:14px; line-height:20px; width:180px;}
.contents .sub_cont .ist_list ul li .ist_txt a{margin:0; width:35px; position:absolute; bottom:10%; right:10%;}


/*마을소식 - 홍보동영상*/
.contents .sub_cont .mov_list{position:static;}
.contents .sub_cont .mov_list ul.mov_set li{width:48.5%; margin:6% 0 0 3%; height:auto;}
.contents .sub_cont .mov_list ul.mov_set li.marx{margin:6% 0 0 0;}
.contents .sub_cont .mov_list ul.mov_set li.marx2{margin:6% 0 0 0;}
.contents .sub_cont .mov_list ul.mov_set li.marx3{margin:6% 0 0 3%;}
.contents .sub_cont .mov_list ul.mov_set li img{width:100%;}
.contents .sub_cont .mov_list ul.mov_set li .mov_tit{padding:23px 16px;}
.contents .sub_cont .mov_list ul.mov_set li .mov_tit p{ font-size:15px;}
.contents .sub_cont .mov_list ul.mov_set li .mov_tit span{margin-top:5px; font-size:12px; padding-left:17px; background-size:13px;}
.contents .sub_cont .mov_list ul.mov_set li:hover .mov_tit span{background-size:13px;}

/*마을소식 - 홍보동영상 뷰*/
.contents .sub_cont .mov_view{width:100%; top:0; left:0; z-index:9999;}
.contents .sub_cont .mov_view .close{display:block; text-align:right; margin-bottom:20px;}
.contents .sub_cont .mov_view .close img{width:30px;}
.contents .sub_cont .mov_view .mov_info{padding:25px 5% 30px 5%;}
.contents .sub_cont .mov_view .mov_info > img{width:100%;}
.contents .sub_cont .mov_view .mov_info h4{font-size:24px; margin-top:20px;}
.contents .sub_cont .mov_view .mov_info ul{margin-top:5px;}
.contents .sub_cont .mov_view .mov_info ul li{font-size:13px; padding-left:18px; margin-right:18px;}
.contents .sub_cont .mov_view .mov_info ul li.time{background-size:14px;}
.contents .sub_cont .mov_view .mov_info ul li.data{background-size:14px;}
.contents .sub_cont .mov_view .mov_info p{font-size:13px; margin-top:10px;}
.contents .sub_cont .mov_view .mov_info .mov_f{margin-top:20px; padding-top:25px;}
.contents .sub_cont .mov_view .mov_info .mov_f img{width:35px;}
.contents .sub_cont .mov_view .mov_info .mov_f .mov_sns a{margin-right:6px;}
.contents .sub_cont .mov_view .mov_info .mov_f .mov_btn a{margin-left:6px;}

/*마을소식 - 언론보도*/
.contents .sub_cont .ns_cont .pres_list{margin-top:35px;}
.contents .sub_cont .ns_cont .pres_list table thead tr th{font-size:14px; height:50px;}
.contents .sub_cont .ns_cont .pres_list table thead tr th.tit2{width:20%; background:none;}
.contents .sub_cont .ns_cont .pres_list table thead tr th.tit3{width:60%;}
.contents .sub_cont .ns_cont .pres_list table thead tr th.tit4{width:20%;}
.contents .sub_cont .ns_cont .pres_list table tbody tr td{font-size:14px; height:50px;}
.contents .sub_cont .ns_cont .pres_list table tbody tr td.p_txt{padding-left:3%;}
.contents .sub_cont .ns_cont .pres_list table tbody tr td.p_txt a{width: 90%;}
.contents .sub_cont .ns_cont .pres_list table .num{display:none;}
 
 
 /*마을소개*/
.contents .sub_title_int{height:550px;}
.contents .int_cont .arrow{margin:35px 0 25px;}
.contents .int_cont .arrow img{width:24px;}
.contents .int_cont .v_int{width:94%; padding-top:60px;}
.contents .int_cont .v_int .int_txt{width:100%; float:none;}
.contents .int_cont .v_int .int_txt h4{font-size:25px; margin-bottom:20px;}
.contents .int_cont .v_int .int_txt p{font-size:14px; line-height:24px; margin-bottom:15px;}
.contents .int_cont .v_int .int_txt p span{display:inline;}
.contents .int_cont .v_int .int_img{float:none; width:100%; margin-top:20px;}
.contents .int_cont .v_int .int_img p{font-size:12px; margin-top:15px;}
.contents .int_cont .web{display:none;}
.contents .int_cont .tab_dir{display:block;}
.contents .int_cont .tab{display:block;}
.contents .int_cont .mob{display:none;}

.contents .int_cont .his_cont{margin-top:60px; height:450px;}
.contents .int_cont .his_cont .his_box{width:94%;}
.contents .int_cont .his_cont .his_box h4{font-size:25px; margin:60px 0 14px;}
.contents .int_cont .his_cont .his_box p{color:#fff; font-size:17px;}
.contents .int_cont .his_cont .his_box .his_list{margin-top:31px;}
.contents .int_cont .his_cont .his_box .his_list ul{width:50%;}
.contents .int_cont .his_cont .his_box .his_list ul.list_m{margin-left:0;}
.contents .int_cont .his_cont .his_box .his_list ul li{margin-bottom:20px;}
.contents .int_cont .his_cont .his_box .his_list ul li dl dt{font-size:16px; margin-bottom:11px; padding-left:26px;}
.contents .int_cont .his_cont .his_box .his_list ul li dl dd{font-size:14px; line-height:25px; padding-left:26px;}

.contents .int_cont .v_mov{width:94%; margin:60px auto 0; padding-bottom:70px;}
.contents .int_cont .v_mov h4{font-size:25px; margin-bottom:25px;}
.contents .int_cont .v_mov ul li{margin-bottom:10px;}
.contents .int_cont .v_mov ul li a{font-size:14px;}
.contents .int_cont .v_mov ul li a.on{display:block; margin-bottom:-2px;}
.contents .int_cont .v_mov .mov_cont{ margin-top:13px;}
.contents .int_cont .v_mov .mov_cont img{width:100%;}
.contents .int_cont .v_mov .mov_cont .vill_mov:after{background-size:60px; width:60px; height:60px;}

.contents .int_cont .dir_cont{height:auto; background:none; position:relative;}
.contents .int_cont .dir_cont .dir_box{width:94%; padding-bottom:40px;}
.contents .int_cont .dir_cont .dir_box h4{font-size:25px; margin:40px 0 0 0;}
.contents .int_cont .dir_cont .dir_box ul{width:100%;}
.contents .int_cont .dir_cont .dir_box ul li{padding:27px 0}
.contents .int_cont .dir_cont .dir_box ul li h5{font-size:17px; padding:5px 0 5px 37px; margin-bottom:8px;}
.contents .int_cont .dir_cont .dir_box ul li h5.car{background-size:25px;}
.contents .int_cont .dir_cont .dir_box ul li h5.mto{background-size:25px;}
.contents .int_cont .dir_cont .dir_box ul li h5.bus{background-size:25px;}
.contents .int_cont .dir_cont .dir_box ul li p{font-size:14px; line-height:25px;}
.contents .int_cont .dir_cont .dir_box ul li p span{display:block;}
.contents .int_cont .dir_cont .dir_box ul li dl dt{font-size:14px; line-height:25px;}
.contents .int_cont .dir_cont .dir_box ul li dl dd{font-size:14px; line-height:25px; letter-spacing:-1px;}
.contents .int_cont .dir_cont .dir_box ul li dl dd span{display:block; padding-left:3px;}
.contents .int_cont .dir_cont .dir_box ul li dl.mto_dir{overflow:hidden;}
.contents .int_cont .dir_cont .dir_box ul li dl.mto_dir dd{float:left; width:50%;}
.contents .int_cont .dir_cont .dir_box .dir_more{display:none;}
.contents .int_cont .dir_cont .tab_dir{position:relative;}
.contents .int_cont .dir_cont .tab_dir img{width:100%;}
.contents .int_cont .dir_cont .tab_dir .map_more{position:absolute; bottom:12%; left:5%; display:block; width:125px; height:41px; border:1px solid #222; color:#222; text-align:center; line-height:41px; font-size:16px;}
.contents .int_cont .dir_cont .tab_dir .map_more:hover{color:#fff; background-color:#000;}

.contents .int_cont .intro_bg{height:380px;}

.contents .int_cont .family{width:94%; padding:30px 0 50px;}
.contents .int_cont .family .fam_box{float:none; width:auto;}
.contents .int_cont .family .fam_box h4{font-size:25px;}
.contents .int_cont .family .fam_box ul{margin-top:25px; }
.contents .int_cont .family .fam_box ul li{float:left; margin-right:0; width:16%;}
.contents .int_cont .family .fam_box ul li img{width:70%;}
.contents .int_cont .family .fam_box2{float:none; width:auto; margin-left:0; margin-top:50px;}
.contents .int_cont .family .fam_box2 h4{font-size:25px;}
.contents .int_cont .family .fam_box2 ul{margin-top:25px;}
.contents .int_cont .family .fam_box2 ul li{float:left; margin-right:25px; width:16%;}
.contents .int_cont .family .fam_box2 ul li img{width:50%;}
.contents .int_cont .family .fam_box2 ul li.fam_img img{width:90%;}
.contents .int_cont .family .fam_box2 ul li.fam_img2 img{width:95%;}
.contents .int_cont .family .fam_box2 ul li.marx{margin-right:0;}
 


.header_on{position:static;}
.top_btn{display:none !important;}

.main_cont .bx-wrapper .bx-controls{left:44%;}
 }