/* 
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(https://www.halla.com/web/font/NanumGothic/NanumGothic-Regular.eot);
    src: url(https://www.halla.com/web/font/NanumGothic/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'), url(https://www.halla.com/web/font/NanumGothic/NanumGothic-Regular.woff2) format('woff2'), url(https://www.halla.com/web/font/NanumGothic/NanumGothic-Regular.woff) format('woff'), url(https://www.halla.com/web/font/NanumGothic/NanumGothic-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url(https://www.halla.com/web/font/NanumGothic/NanumGothic-Bold.eot);
    src: url(https://www.halla.com/web/font/NanumGothic/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'), url(https://www.halla.com/web/font/NanumGothic/NanumGothic-Bold.woff2) format('woff2'), url(https://www.halla.com/web/font/NanumGothic/NanumGothic-Bold.woff) format('woff'), url(https://www.halla.com/web/font/NanumGothic/NanumGothic-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url(https://www.halla.com/web/font/NanumGothic/NanumGothic-ExtraBold.eot);
    src: url(https://www.halla.com/web/font/NanumGothic/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'), url(https://www.halla.com/web/font/NanumGothic/NanumGothic-ExtraBold.woff2) format('woff2'), url(https://www.halla.com/web/font/NanumGothic/NanumGothic-ExtraBold.woff) format('woff'), url(https://www.halla.com/web/font/NanumGothic/NanumGothic-ExtraBold.ttf) format('truetype');
}
